html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-top: auto; 
}

.homepage {
  background-color: rgb(125, 213, 200);
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

